<%= form_for(@bloodstock) do |f| %>
  <% if @bloodstock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bloodstock.errors.count, "error") %> prohibited this bloodstock from being saved:</h2>

      <ul>
      <% @bloodstock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bloodbank_id %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= select_tag('bloodstock[bloodbank_id]', options_from_collection_for_select(@bloodbanks, "id", "name")) %>
  </div>

  <div class="field">
    <%= f.label :bloodcomponentid %><br>
    <%= f.text_field :bloodcomponentid %>
  </div>

  <div class="field">
    <%= f.label :bloodgroupid %><br>
    <%= f.text_field :bloodgroupid %>
  </div>

  <div class="field">
    <%= f.label :units %><br>
    <%= f.number_field :units %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
