<h1>Listing bloodbanks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Website</th>
      <th>Landline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bloodbanks.each do |bloodbank| %>
      <tr>
        <td><%= bloodbank.name %></td>
        <td><%= bloodbank.address %></td>
        <td><%= bloodbank.city %></td>
        <td><%= bloodbank.email %></td>
        <td><%= bloodbank.mobile %></td>
        <td><%= bloodbank.website %></td>
        <td><%= bloodbank.landline %></td>
        <td><%= link_to 'Show', bloodbank %></td>
        <td><%= link_to 'Edit', edit_bloodbank_path(bloodbank) %></td>
        <td><%= link_to 'Destroy', bloodbank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bloodbank', new_bloodbank_path %>
